# Test Test Provenance Finder
## Result
ok

---
## Message
test complete

---
## Error


---
## Log


---

---
## Test started at 2021-03-04T10:52:21.714-05:00
operation_type_id: 751

---
## Step 1

---

289222 (Dilute to 4nM): [289223]

289223 (Qubit concentration): [289224]

289224 (Purify Gel Slice (NGS)): [289225]

289225 (Extract Gel Slice (NGS)): [289226]

289226 (Run Pre-poured Gel): [289227]

289227 (Make qPCR Fragment WITH PLATES): [289228]

289228 (Purify Gel Slice (NGS)): [289229]

289229 (Extract Gel Slice (NGS)): [289230]

289230 (Run Pre-poured Gel): [289231]

289231 (Make qPCR Fragment): [289252]

289252 (Digest Genomic DNA): [289253]

289253 (Yeast Plasmid Extraction): [289254]

289254 (Treat With Zymolyase): [287683]

287683 (Store Yeast Library Sample): [287682]

287682 (Innoculate Yeast Library): [287679]

287679 (Sort Yeast Display Library): [287676]

287676 (Challenge and Label): [287675]

287675 (Dilute Yeast Library): [287564]

287564 (Innoculate Yeast Library): [287561]

287561 (Sort Yeast Display Library): [287558]

287558 (Challenge and Label): [287557]

287557 (Dilute Yeast Library): [287466]

287466 (Innoculate Yeast Library): [287463]

287463 (Sort Yeast Display Library): [287460]

287460 (Challenge and Label): [285624]

285624 (Dilute Yeast Library): [285623]

285623 (Innoculate Yeast Library): [285622]

285622 (Sort Yeast Display Library): [285621]

285621 (Challenge and Label): [285626]

285626 (Dilute Yeast Library): [285631]

285631 (Innoculate Yeast Library): [285452]

285452 (Make Library Glycerol Stocks): [285450]

285450 (High-Efficiency Transformation NEW): [285455]

285455 (Combine and Dry DNA): [285430]

285430 (Ethanol Precipitation Cleanup): [285429]

285429 (DNA ethanol precipitation): [285086]

285086 (Combine Purified Samples): [285078, 285081, 285079, 285080, 285082, 285085, 285083, 285084]

285078 (qPCR Library Purification): [285087]

285087 (Transfer From Stripwell to Tubes): [285089]

285089 (Library qPCR): []

285081 (qPCR Library Purification): [285087]

285087 (Transfer From Stripwell to Tubes): [285089]

285089 (Library qPCR): []

285079 (qPCR Library Purification): [285088]

285088 (Transfer From Stripwell to Tubes): [285090]

285090 (Library qPCR): []

285080 (qPCR Library Purification): [285088]

285088 (Transfer From Stripwell to Tubes): [285090]

285090 (Library qPCR): []

285082 (qPCR Library Purification): [285087]

285087 (Transfer From Stripwell to Tubes): [285089]

285089 (Library qPCR): []

285085 (qPCR Library Purification): [285087]

285087 (Transfer From Stripwell to Tubes): [285089]

285089 (Library qPCR): []

285083 (qPCR Library Purification): [285088]

285088 (Transfer From Stripwell to Tubes): [285090]

285090 (Library qPCR): []

285084 (qPCR Library Purification): [285088]

285088 (Transfer From Stripwell to Tubes): [285090]

285090 (Library qPCR): []

---
