# Test Demo Show Blocks
## Result
error

---
## Message
undefined method `parts' for {:timestamp=>1615485680000}:Krill::ShowResponse

---
## Error


---
## Log


---

---
